@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.bg-mutant-gradient {
    background: linear-gradient(45deg, #3525cd 0%, #4f46e5 50%, #8b5cf6 100%);
}
.mutant-gradient-bg {
    background: linear-gradient(45deg, #3525cd 0%, #4f46e5 50%, #8b5cf6 100%);
}
.glass-panel {
    backdrop-filter: blur(24px);
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.chat-scrollbar::-webkit-scrollbar {
    width: 4px;
}
.chat-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
.chat-scrollbar::-webkit-scrollbar-thumb {
    background: #dae2fd;
    border-radius: 10px;
}
